/* Importando o Root. O Root é uma Arquivo de Cores que foram Pré-Configuradas */
@import url(root.css);

/* Codigo Principal */

body {
    margin: 0; /* Remove a margem padrão do body */
    overflow: hidden; /* Remove o scroll */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 4vw;
    background-color: transparent;
    position: relative;
}

.top_container {
    width: 100%;
    height: 80%;
    background-color: green;
    padding: 0vw;
    box-sizing: border-box;
    overflow: hidden;
}

.bottom_container {
    width: 100%;
    height: 20%;
    background-color: blue;
    padding: 0.2vw;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    z-index: 4000;
    bottom: 0;
    right: 0;
}

/* ----- Container da Conversa */

.chat_container {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    overflow-x: hidden;
    padding: 0.2vw;
    box-sizing: border-box;
}

.chat_content {
    background-color: transparent;
    width: 80%;
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1vw;
}

.conversertion_sec {
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 0.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
}

/* Gerais */

.msg_container {
    background-color: transparent;
    padding: 0.4vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
}

.userMSG_container {
    justify-content: right;
}

.ianesMSG_container {
    justify-content: left;
}


/* Fica em Absolute, fora da caixa */

.container_pic {
    background-color: transparent;
    padding: 0.7vw;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: auto;
    height: auto;
    position: absolute;
}

.container_pic_user {
    top: 0%;
    right: 0%;
    transform: translateX(100%) translateY(0%);
}

.container_pic_ianes {
    top: 0%;
    left: 0%;
    transform: translateX(-100%) translateY(0%);
}

/* Fica em Relative, fora da caixa */

.container_text {
    width: 60%;
    height: auto;
    padding: 1vw;
    padding-left: 1.4vw;
    padding-right: 1.4vw;
    border: none;
    margin-top: 5%;
    border-radius: 0vw 0vw 0vw 0vw;
    background-color: transparent;
}

.userMSG_div {
    border-radius: 0.5vw 0vw 0.5vw 0.5vw;
    background-color: var(--color-cinza_chat_bg_light);
}

.ianesMSG_div {
    border-radius: 0vw 0.5vw 0.5vw 0.5vw;
    background-color: transparent;
}

.content_text {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000000;
    line-height: 1.5;
    text-align: center;
    text-wrap: pretty;
}

.userMSG_p {
    text-align: right;
}

.ianesMSG_p {
    text-align: left;
}

#user_svg_chat {
    width: 3vw;
    height: auto;
    object-fit: contain;
}

#user_svg_chat path {
    fill: #000000;
}

#ianes_img_chat {
    width: 3vw;
    height: auto;
    object-fit: contain;
}

/* Container da Area de Texto */

.bottom_content {
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 0vw;
    box-sizing: border-box;
}

.input_container {
    background-color: green;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.input_area {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.4vw;
    border: 0.2vw var(--color-vermelho-medio);
}





.aviso_container {
    background-color: purple;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.aviso_container p {
    margin: 0;
    padding: 0;
    font-size: 1vw;
    font-weight: 500;
    color: #000000;
    line-height: 1.5;
    text-align: center;
    text-wrap: pretty;
}

/* 
.input_container {
    padding: 0.6vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    background-color: #FFFFFF;
    border: 0.15vw var(--color-cinza) solid;
    border-radius: 1vw;
    width: 50%;
    max-width: 90%;
    height: auto;
    position: absolute;
    z-index: 2;
    bottom: 0;
    margin-bottom: 2vw;
}

.input_container.focused {
    border: 0.15vw var(--color-vermelho-medio) solid;
}

.message_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    width: 94%;
    height: 100%;
    background-color: transparent;
}

.message_div {
    display: flex;
    flex-direction: column;
}

.message_div textarea {
    width: 100%;
    min-height: 1vw;
    max-height: 10vw;
    overflow-y: auto; 
    overflow-x: hidden;
    line-height: 1;
    resize: none;
    padding: 0.4vw;
    border: none;
    outline: none;
    font-size: 1vw;
    font-family: var(--font-montserrat);
    background-color: transparent;
}

.message_div textarea:focus {
    border: none;
    outline: none; 
}

.button_div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    background-color: transparent;
    width: 6%;
    height: 100%;
    position: relative;
}

.btn_enviar {
    padding: 1vw;
    border-radius: 0.6vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    overflow: hidden; 
    transition: 0.3s;
    --- Por Padrão está "desativado"
    background-color: var(--color-cinza);
    border: 0vw var(--color-cinza) solid;
    pointer-events: none;
    opacity: 0.5;
}

.btn_enviar ion-icon {
    color: #FFFFFF;
    font-size: 1.2vw;
    margin: 0;
    position: absolute;
    transition: transform 0.3s;
}

#icon_aviao {
    display: block;
}

#icon_quadrado {
    display: none;
}

.btn_enviar:hover #icon_aviao {
    font-weight: bold;
    animation: aviao_animado 1s ease-in-out 1 forwards; 
}

.btn_enviar:hover {
    background-color: var(--color-azul-medio);
}
 
 Posição inicial
 Move para o canto superior direito
 Move 10vw para baixo
 Move para a esquerda
 Retorna ao ponto inicial

@keyframes aviao_animado {
    0% {
        transform: translate(0, 0); 
    }
    20% {
        transform: translate(3vw, -3vw); 
        opacity: 1; /* Visível 
    }
    40% {
        transform: translate(3vw, 3vw);
        opacity: 1; /* Continua visível
    }
    70% {
        transform: translate(-3vw, 3vw); 
        opacity: 1; /* Continua visível 
    }
    100% {
        transform: translate(0, 0);
    }
}

*/

/* --------------- Container de Resposta */



#scrollButton {
    display: none;
    justify-content: center;
    align-items: center;
    position: flex;
    left: 50%;
    bottom: 7vw;
    display: none;
    background-color: transparent;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    transform: translateX(-50%);
    z-index: 2;
}


#scrollButton ion-icon {
    font-size: 2vw;
    font-weight: bold;
    color: #000000;
}

#msgteste {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    border: none;
    border-radius: 50%;
    padding: 1vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
    cursor: pointer;
    pointer-events: all;
}