/* Importando o Root. O Root é uma Arquivo de Cores que foram Pré-Configuradas */
@import url(root.css);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--color-fundo-claro);
    font-family: var(--font-montserrat);
}

/* Altera a Cor ao Selecionar Texto/Coisas */

::-moz-selection { /* Codigo para Mozilla */
    color: var(--color-fundo-claro);
    background: var(--color-azul-medio);
}

::selection {
    color: var(--color-fundo-claro);
    background: var(--color-azul-medio);
}

/* Altera o estilo da ScrollBar */

/* Tamanho */
::-webkit-scrollbar {
    width: 0.5vw;
}
  
/* Fundo */
::-webkit-scrollbar-track {
    background: var(--color-fundo-claro_var2);
    border-radius: 0.4vw;
}

/* Barra em si */
::-webkit-scrollbar-thumb {
    background: var(--color-cinza);
    border-radius: 0.4vw;
    border: solid transparent 0vw;
    cursor: pointer;
}

/* Barra com o mouse em cima */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-vermelho-medio);
}